svg {
	fill: var(--md-sys-color-primary);
	width: 1rem;
	height: auto;
}

.bg svg {
	fill: var(--md-sys-color-inverse-primary);
}

.half {
	.star-fg {
		fill: var(--md-sys-color-primary);
	}

	.star-bg {
		fill: var(--md-sys-color-inverse-primary);
	}
}
