.row {
	display: flex;
	flex-direction: row;

	h1 {
		margin-top: 0;
	}

	.left {
		width: 75%;
		margin: 1rem 1rem 1rem 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			max-width: 100%;
			max-height: 98vh;
			border-radius: 10px;
			margin-bottom: 1rem;
		}

		.meta {
			display: none;
		}
	}

	.right {
		width: 25%;
		top: 0;
		margin: 1rem;
		position: sticky;
		align-self: flex-start;

		.summary {
			margin-bottom: 1rem;
			line-height: 1.3;

			&.comment {
				font-style: italic;
			}
		}
	}

	@media (max-width: 1000px) {
		.left {
			width: 65%;
		}

		.right {
			width: 35%;
		}
	}

	@media (max-width: 550px) {
		flex-direction: column;

		.left {
			width: unset;

			.meta {
				display: unset;
				margin-bottom: 1rem;
				width: 100%;
			}
		}

		.right {
			position: unset;
			width: unset;
			margin-top: 0;

			.meta {
				display: none;
			}

			.summary {
				margin-top: 0;
			}
		}
	}
}
