<div class="row">
		<div class="left">
			@for (picture of place.pictures; track picture.id) {
				<img
					[src]="apiBaseUrl + $any(picture).image.url"
					[alt]="'a'"
				/>
			}
		</div>
		<div class="right">
			<h1>{{place.title}}</h1>
			@for (detail of place.details; track detail.id) {
				@if (detail.__component == 'destination.text') {
					<p class="summary">
						{{$any(detail).text}}
					</p>
				}

				@if (detail.__component == 'destination.location') {
					<a href="https://maps.google.com/?ll={{$any(detail).latitude}},{{$any(detail).longitude}}" target="_blank" rel="noopener">
						<app-place-map
							[latitude]="$any(detail).latitude"
							[longitude]="$any(detail).longitude"
						>
						</app-place-map>
					</a>
				}
			}
		</div>
</div>
